.ember-power-select-trigger {
  @extend .content;
  display: inline-block;
  line-height: 20px;
  width: 190px;
  // width: 15.7em;
  // height: 22px;
  vertical-align: middle;
  // padding-left: 4px;
  padding: 2px;
	// border: 1px solid $borderColor;
}
.ember-power-select-selected-item {
  @extend .content;
  margin-left: 5px;
}
.ember-basic-dropdown-content {
  @extend .content;
}