{{#g-panel title="Combos"}}
  {{#g-panel-body}}
    <p>
      This is a "combo"... really, it is an
      <a href="https://ember-power-select.com/" target="_blank" rel="noopener">ember-power-select</a>
      component under the covers.
    </p>

    {{g-selectize label="Robot" selection=selection content=model optionLabelPath="name"
      placeholder="Select a Droid..." onChange=(action "selectRobot")}}

    <hr>

    {{#g-panel title="Example"}}
      {{#g-panel-body}}
        {{code-snippet name="combos.hbs"}}
      {{/g-panel-body}}
    {{/g-panel}}

  {{/g-panel-body}}
{{/g-panel}}
